<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php
$_children = $_product->getTypeInstance()->getUsedProducts($_product);
$color = [];
foreach ($_children as $child) {
    $arr = [
        'color'=> $child->getCustomAttribute('color')->getValue(),
        'text' => $child->getAttributeText('color')
    ];
    array_push($color, $arr);
}
?>
<?php
if ($_product->getTypeId() == "configurable" && count($color)>0):?>
    <input type="hidden" name="color" value='<?=json_encode($color)?>'/>
    <input type="hidden" name="qty_color" value='<?=count($color)?>'/>
    <div id="custom-component" data-bind="scope:'customcomponent'">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
    {
        "#custom-component": {
        "Magento_Ui/js/core/app": {
            "components": {
                "customcomponent": {
                    "component": "AHT_Snaply/js/index",
                        "template" : "AHT_Snaply/index"
                    }
                }
            }
        }
    }
    </script>
    </div>
<?php endif;?>

