& when (@media-common = true)
{
  .option-view
  {
      display: inline-block;
      width: 20%;
      padding: 0 10px;
      .swatch-options-view {
          text-align: center;
          no-repeat: center;
          background-size: initial
      }

      .swatch-text {
          text-align: center;
      }
  }
}
